$BACKGROUND_COLOUR: #F1F1F1;
$HR_COLOUR: #AAAAAA;
$PHOTO_WIDTH: 1200px;
$PHOTO_HEIGHT: $PHOTO_WIDTH/(16/9);

$BLUE: #85C3EE;
$GREEN: #D083D0;
$PINK: #FADD89;
$YELLOW: #C5DA71;

@mixin dropShadow($x, $y, $blur, $spread, $opacity)
{
	-webkit-box-shadow: $x $y $blur $spread rgba(0,0,0,$opacity);
	-moz-box-shadow: $x $y $blur $spread rgba(0,0,0,$opacity);
	box-shadow: $x $y $blur $spread rgba(0,0,0,$opacity);
}

@mixin unselectable
{
	-webkit-user-select: none; 
	-moz-user-select: none;
	-ms-user-select: none;
}

@mixin quickTransition($duration: 0.3s)
{
	-webkit-transition: all ease $duration;
	-moz-transition: all ease $duration;
	-o-transition: all ease $duration;
	-ms-transition: all ease $duration;
	transition: all ease $duration;
}

@mixin rotate($degrees)
{
	-webkit-transform:rotate($degrees);
	-moz-transform:rotate($degrees);
	-o-transform:rotate($degrees);
	-ms-transform:rotate($degrees);
	transform:rotate($degrees);
}