@mixin font_languages
{
	font-family: "open_sansregular";
	letter-spacing: -1px;
	text-transform: uppercase;
}

@mixin font_imgTitle
{
	font-family: "open_sansregular";
	letter-spacing: -2px;
	font-size: 18pt;
	text-transform: uppercase;
}

@mixin font_menuButton
{
	font-family: "open_sansregular";
	text-transform: uppercase;
}

@mixin font_aboutLabel
{
	font-family: "open_sansregular";
	font-size: 20pt;
	text-transform: uppercase;
}

@mixin font_aboutBlurb
{
	color: white;
	font-family: "Georgia";
	font-size: 14pt;
}

@mixin font_inlineProgrammer
{
	color: white;
	font-family: "Courier New";
	font-size: 18pt;
	font-weight: bold;
}

@mixin font_inlinePhotographer
{
	color: white;
	font-family: "Freestyle Script";
	font-size: 28pt;
}

@mixin font_inlineSlimLogo
{
	color: white;
	font-family: "Arial Narrow";
	font-size: 25pt;
	font-weight: bold;
}

@mixin font_email
{
	color: white;
	font-family: "Georgia";
	font-size: 24pt;
	font-weight: bold;
}

@mixin font_socialTip
{
	font-family: "open_sansregular";
	font-size: 8pt;
	text-transform: uppercase;
}

@mixin font_copyright
{
	font-family: "open_sansregular";
	font-size: 12pt;
	text-transform: uppercase;
}

@font-face
{
    font-family: "open sans condensed";
    src: url(font-path('OpenSans-CondLight.ttf'));
}

@font-face
{
    font-family: 'open_sansregular';
    src: url(font-path('OpenSans-Regular-webfont.eot'));
    src: url(font-path('OpenSans-Regular-webfont.eot?#iefix')) format('embedded-opentype'),
         url(font-path('OpenSans-Regular-webfont.woff')) format('woff'),
         url(font-path('OpenSans-Regular-webfont.ttf')) format('truetype'),
         url(font-path('OpenSans-Regular-webfont.svg#open_sansregular')) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'open_sansbold';
    src: url(font-path('OpenSans-Bold-webfont.eot'));
    src: url(font-path('OpenSans-Bold-webfont.eot?#iefix')) format('embedded-opentype'),
         url(font-path('OpenSans-Bold-webfont.woff')) format('woff'),
         url(font-path('OpenSans-Bold-webfont.ttf')) format('truetype'),
         url(font-path('OpenSans-Bold-webfont.svg#open_sansbold')) format('svg');
    font-weight: normal;
    font-style: normal;
}