@import "_common.css.scss";
@import "_fonts.css.scss";

.dottedLine
{
	height: 1px;
	margin-top: 20px;
	background-color: $BACKGROUND_COLOUR;
	border-bottom: 1px dashed;
	padding: 0px;
}

#aboutLabelDiv
{
	margin-top: 90px;
	text-align: center;
}

	#aboutTriangle
	{
		@include quickTransition;
		position: relative;
		right: 0px;
		bottom: 10px;
		opacity: 0;
	}

	#aboutLabel
	{
		@include font_aboutLabel;
		@include unselectable;
		@include quickTransition;

		position: relative;
		right: 0;

		&:hover
		{
			cursor: pointer;
			right: 10px;
		}

		&:hover	~ #aboutTriangle
		{
			bottom: 0px;
			opacity: 1.0;
		}

		&:hover	~ .dottedLine
		{
			color: black;
			background-color: black;
		}
	}

#aboutPanel
{
	text-align: justify;
	width: 100%;
	overflow: hidden;

	background-image: image-url("aboutbg.jpg");
	-moz-box-shadow:    inset 0 0 200px #000000;
    -webkit-box-shadow: inset 0 0 200px #000000;
    box-shadow:         inset 0 0 200px #000000;
}

	#aboutPanel.open
	{
		height: 165px;
		padding-top: 120px;
		padding-bottom: 120px;		
	}

	#aboutPanel.closed
	{
		height: 0;
		padding-top: 0;
		padding-bottom: 0;
		border-top: 1px solid white;	
	}

	#aboutTable
	{
		margin-left: auto;
		margin-right: auto;
	}

		#aboutPhoto
		{
			margin-right: 50px;
			float: left;
		}

		#aboutBlurb
		{
			@include font_aboutBlurb;
		}

		#inlineProgrammer
		{
			@include font_inlineProgrammer;
		}

		#inlinePhotographer
		{
			@include font_inlinePhotographer;
		}

		#inlineSlimLogo
		{
			@include font_inlineSlimLogo;
		}

		.inlineLogo
		{
			display: inline-block;
			margin-right: 4px;
		}

		.inlineLogoShift
		{
			position: relative;
		    top: 8px
		}

		#emailContainer
		{
			text-align: center;
		}

		#email
		{
			@include font_email;
		}