@import "_common.css.scss";
@import "_fonts.css.scss";

.dottedLine
{
	border-bottom: 1px dashed;
	//color: $HR_COLOUR;
	background-color: $BACKGROUND_COLOUR;
	height: 1px;
	padding: 0px;
    margin-top: 20px;
}

#aboutLabelDiv
{
	margin-top: 90px;
	text-align: center;
}

	#aboutTriangle
	{
		@include quickTransition;
		position: relative;
		right: 0px;
		bottom: 10px;
		opacity: 0.0;
	}

	#aboutLabel
	{
		@include font_aboutLabel;
		@include unselectable;
		@include quickTransition;

		position: relative;
		right: 0px;

		&:hover
		{
			cursor: pointer;
			right: 10px;
		}

		&:hover	~ #aboutTriangle
		{
			bottom: 0px;
			opacity: 1.0;
		}

		&:hover	~ .dottedLine
		{
			color: black;
			background-color: black;
		}
	}

#aboutPanel
{
	text-align: justify;
	width: 100%;
	overflow: hidden;
	@include metalBG;
}

	#aboutPanel.open
	{
		height: 165px;
		padding-top: 120px;
		padding-bottom: 120px;		
	}

	#aboutPanel.closed
	{
		height: 0px;
		padding-top: 0px;
		padding-bottom: 0px;
		border-top: "1px solid white";	
	}

	#aboutPanelContent
	{
		margin: 0px auto 0px auto;
		width: 80%;
	}

		#aboutPhotoBlurbContainer
		{
			margin: 0px auto;
			width: 75%;
		}

		#aboutPhoto
		{
			margin-right: 50px;
			float: left;
		}

		#aboutBlurb
		{
			line-height: 1.5;
			@include font_aboutBlurb;
		}

		#inlineProgrammer
		{
			@include font_inlineProgrammer;
		}

		#inlinePhotographer
		{
			@include font_inlinePhotographer;
		}

		#inlineSlimLogo
		{
			@include font_inlineSlimLogo;
		}

		.inlineLogo
		{
			display: inline-block;
			margin-right: 4px;
		}

		.inlineLogoShift
		{
			position: relative;
		    top: 8px
		}

		#emailContainer
		{
			text-align: center;
		}

		#email
		{
			@include font_email;
		}