$PHOTO_WIDTH: 100px;
$PHOTO_HEIGHT: $PHOTO_WIDTH/(16/9);

a
{
	text-decoration: none;
	color: black;
}

@mixin fadeTo($opacity, $duration: .10s)
{
   opacity: $opacity;
   transition: opacity $duration ease-in-out;
   -moz-transition: opacity $duration ease-in-out;
   -webkit-transition: opacity $duration ease-in-out;
}

@mixin roundedCorners($radius: 10px)
{
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
	border-radius: $radius;
}

@mixin metalBG
{
	background-image: image-url("aboutbg.jpg");

	-moz-box-shadow:    inset 0 0 200px #000000;
    -webkit-box-shadow: inset 0 0 200px #000000;
    box-shadow:         inset 0 0 200px #000000;
}

.pointer:hover
{
	cursor: pointer;
}