@import "_common.css.scss";
@import "_fonts.css.scss";



#menu
{
	width: $PHOTO_WIDTH;
	text-align: center;
}

#menuTable
{
	margin-left:auto; 
    margin-right:auto;

    text-align: center;

	td
	{
		width: 110px;
		height: 50px;
	}
}

.menuButton
{
	@include font_menuButton;
	@include unselectable;
	@include quickTransition(0.1s);
	cursor: pointer;
}

#general:hover, .selected_general
{
	color: white;
	background-color: $BLUE;
}

#interiors:hover, .selected_interiors
{
	color: white;
	background-color: $GREEN;
}

#events:hover, .selected_events
{
	color: white;
	background-color: $PINK;
}

#people:hover, .selected_people
{
	color: white;
	background-color: $YELLOW;
}
